$lipstick: rgb(190, 25, 101)
$primary: #30024b
$primary-hover: #46336d
$outlined: #ffffff
$outlined-hover: rgba(254, 254, 254, 0.004)
$purple: #633280
  
.btn-primary
  background-color: $primary
  width: 169px

.btn-primary:hover
  background-color: $primary-hover


.btn-outlined
  width: 169px
  border: 3px solid $outlined !important
  background-color: transparent

.btn-outlined:hover
  background-color: $outlined-hover

.btn-success
  width: auto !important
  border: 3px solid #73af00 !important
  color: #73af00 !important

.btn-danger
  width: auto !important
  border: 3px solid #dc1543 !important
  color: #dc1543 !important

.btn-purple
  height: 25px !important
  font-size: 14px !important
  width: auto !important
  border: 3px solid #633280 !important
  color: #633280 !important

.link
  color: $outlined
  font-size: 16px
  text-transform: uppercase
  text-decoration: none

.legends-input
  font-size: 13px
  height: 42px
  padding: 3px 0px 3px 10px
  color: $lipstick
  border: none
  -webkit-transition: all 0.30s ease-in-out
  -moz-transition: all 0.30s ease-in-out
  -ms-transition: all 0.30s ease-in-out
  -o-transition: all 0.30s ease-in-out
  border-radius: 5px
